<footer>
  <div class="standard-container footer-content">
    <div class="footer-logo">
      <mat-icon class="icon-logo"></mat-icon>
    </div>
    <div class="footer-copyright">
      ©2021 Campeurs du Nord
    </div>
    <div class="footer-social-media">
      <button mat-icon-button>
        <mat-icon class="icon-facebook"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="icon-instagram"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="icon-youtube"></mat-icon>
      </button>
    </div>
  </div>
</footer>
