footer {
  display: flex;
  align-items: center;
  background: black;
  height: 72px;
  color: rgba(255,255,255,0.85);

  .footer-content {
    display: flex;
    justify-content: space-between;
    padding-right: 36px;

    &>div {
      display: flex;
      align-items: center;
    }

    .footer-social-media {
      .mat-icon-button {
        margin-left: 2rem;
      }
    }

    .footer-copyright {
      font-size: 0.7rem;
    }
  }
}
