<div [ngStyle]="{backgroundImage:'url(assets/images/hero-6.jpg)'}" class="hero-image">
  <div class="hero-accueil-content standard-container">
    <h1 class="hero-title">Campeur du Nord</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum, risus vel sodales pellentesque, ante
      elit dapibus metus, id finibus ante lectus et velit. </p>
    <button mat-flat-button color="accent" routerLink="/notre-campeur">
      Découvrir le campeur
    </button>
  </div>
</div>

<div class="standard-container text-content section-padding">
  <h4 class="pre-title">Le projet</h4>
  <h2>L'aventure ne fait que commencer</h2>

  <p class="light-typo-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ante urna, placerat eget nisi id, sollicitudin
    vulputate erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin purus velit, commodo sed ornare
    nec, condimentum in ante. Nunc in metus risus. Quisque feugiat nisi in pharetra vehicula. In scelerisque libero
    neque,
    non pharetra eros facilisis id. Quisque pulvinar tempus dui, nec porta urna auctor quis. Duis quis odio sodales,
    fringilla tortor eget, faucibus lacus. Suspendisse iaculis venenatis odio, quis faucibus velit placerat id. Proin
    nec
    rhoncus diam.
  </p>
</div>

<div [ngStyle]="{backgroundImage:'url(assets/images/campeur.jpg)'}" class="hero-image hero-image-medium"></div>


<div class="standard-container section-padding">
  <h4 class="pre-title">Notre équipe</h4>
  <h2>Les humains derrière le projet</h2>
  <div class="team-members-section three-col-grid">
    <div *ngFor="let teamMember of teamMembersUrlList; let i = index;"
      [ngStyle]="{'backgroundImage': 'url(\'' + teamMembersUrlList[i] + '\')'}"></div>
  </div>
</div>
